@import 'fabric.components.min.css';

.documentsSpFx {
  .container {

    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    padding: 20px;
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .button {
    text-decoration: none;
  }

  .heading {
    font-size: 28px;
  }
}

.spfxDocumentUl {
    max-width: 550px;
    width: 100%;
}

.spfxDocumentLi {
    width: 100%;
}

.pr-left-padding {
  padding-left: 28px;
}

.pr-Facepile-inline {
  display: inline;
}

.pr-tText {
  padding-left: 37px;
}

.ms-link {
  padding: 2px;
}
